form#contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    > div {
        width: 100%;
        flex-grow: 1;
        padding: 0;
        margin: 0.8rem 0;

        label {
            font-size: $medium;
            display: block;
            text-align: left;
            margin: 0.5rem 0;
        }


        input, textarea {
            border: 0;
            background-color: $semidark;
            border-radius: $borderRadius;
            color: $light;
            height: 2.5rem;
            width: 100%;
            font-size: 1.1rem;
            display: block;
            padding: 1.6rem $inputHorizontalPadding;
            margin: 0;

        }

        textarea {
            height: 30vh;
            padding: $inputHorizontalPadding;
        }

        button[type="submit"] {
            background-color: $dark;
            padding: 1rem 1.4rem;
            border-radius: $borderRadius;
            font-size: $regular;
            font-weight: bold;
            color: $light;
            border: 1px solid $light;
            cursor: pointer;

            &:hover {
                transition: background-color $transitionTime;
                background-color: $light;
                color: $dark;
            }
        }

    }
}
