@import "./variables";

#contact {
    div.wrapper {
        @include md {
            max-width: 60vw;

            div.breakline {
                max-width: 40vw;
                max-width: 500px;
            }
        }

        @include xl {
            max-width: 600px;
        }

        h3.sub-title {
            text-align: center;
        }

        ul#media {
            li {
                margin: 1rem 0;
                display: flex;
                justify-content: left;
                width: 100%;
                position: relative;

                a {
                    display: flex;
                    align-items: center;
                    margin-left: 0.5rem;
                    width: 100%;
                    padding-left: 10%;

                    @include md {
                        padding-left: 25%;
                        text-align: center;
                    }

                    @include xl {
                        padding-left: 35%;
                    }

                    #email-box {
                        margin-left: 1rem;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: left;
                        cursor: pointer;

                        p {
                            margin: 0;
                        }
                    }

                    p {
                        margin: 0 1rem;
                        font-size: $regular;
                    }
                }
            }
        }
    }
}
