@import "./variables";

#home {
    #greeting-title {
        font-size: 2.3rem;
    }

    img#profile-pic {
        margin: $edgeBuffer 0;
        width: 100%;

        @include lg {
            max-width: 500px;
        }
    }

    .greeting-text {
        font-weight: 700;
        font-size: 1.4rem;
        margin-top: 0;
    }

    h3#about-me {
        margin-bottom: 0;
        font-size: $largest;
    }
}
