@import "./variables";

#home {
    background-color: $dark;
    color: $light;
    width: 100vw;

    p {
        text-align: left;
    }

    #greeting-title {
        padding-top: 2rem;
        font-size: 2.3rem;
    }

    #profile-pic {
        margin: $edgeBuffer 0;
        width: 100%;
    }

    .greeting-text {
        font-weight: 700;
        font-size: 1.4rem;
        margin-top: 0;
    }

    h3#about-me {
        margin-bottom: 0;
        font-size: $largest;
    }

    .regular-text {
        font-size: $regular;
    }
}
