@import "./_variables.scss";

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Links */
a {
    text-decoration: none;
    color: $light;
    font-size: 1.4rem;
}


/* Regular text */
p {
    line-height: 1.7rem;
}

/* List items */
li {
    list-style: none;
}

/* General classes */
.wrapper {
    margin: 0 $edgeBuffer;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* Images */
img {
    border-radius: 6px;
}
