.links > a {
    color: #ddd;
    text-decoration: none;
    padding: 3vh 2vw;
    font-size: 1.3rem;
    margin: 0 1vw;
}

#nav {
    background-color: #332332;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;

    #logo-link {
        margin-left: 3vw;
        display: flex;
        justify-content: center;
        align-items: center;

        #logo {
            display: flex;
            align-items: center;
        }
    }

    .links {
        display: flex;

    }
}

