@import "./_variables.scss";

.links > a {
    padding: 3vh 2vw;
    font-size: 1.4rem;
    margin: 0 1vw;
}

#nav {
    background-color: $colorDark;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;

    #logo-link {
        margin-left: 4vw;
        display: flex;
        justify-content: center;
        align-items: center;

        #logo {
            display: flex;
            align-items: center;
        }
    }

    .links {
        display: flex;
    }

    #menu-icon {
        display: none;
    }

    #sidebar {
        position: absolute;
        background-color: $colorDark;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;

        div.container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            padding: 0;


            a {
                color: $colorLight;
                padding: 3vh 2vw;
                font-size: 1.4rem;
                margin: 0 1vw;
            }
        }
    }
}


// Phone
@media screen and (max-width: 480px) {
    #nav {
        height: 12vh;
        align-items: center;

        .links {
            display: none;
        }

        #menu-icon {
           display: initial;
            margin-right: 5vw;
            cursor: pointer;
            z-index: 1;
        }
    }
}
