@import "./_variables.scss";

.links > a {
    color: $colorLight;
    text-decoration: none;
    padding: 3vh 2vw;
    font-size: 1.4rem;
    margin: 0 1vw;
}

#nav {
    background-color: $colorDark;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;

    #logo-link {
        margin-left: 4vw;
        display: flex;
        justify-content: center;
        align-items: center;

        #logo {
            display: flex;
            align-items: center;
        }
    }

    .links {
        display: flex;
    }
}


// Phone
@media screen and (max-width: 480px) {
    #nav {
        height: 12vh;
        align-items: center;

        .links {
            display: none;
        }

        #menu-icon {
            margin-right: 5vw;
            cursor: pointer;
        }
    }
}
