.project-card {
    background-color: $semidark;
    border-radius: $borderRadius;
    width: 100%;
    max-width: 90vw;
    margin: 0 auto 5rem auto;
    padding-bottom: 1.5rem;

    @include sm {
        padding-bottom: 3rem;
    }

    .project-title {
        font-size: $larger;
    }

    img {
        width: 100%;
        border-radius: 0;
        margin-bottom: 1rem;
    }

    @include md {
        h3.technologies-title {
            font-size: $large;
        }

        li {
            font-size: $medium;
        }

        h1.project-title {
            font-size: $largest;
            margin: 2rem 0;
        }
    }

    div.details {
        display: flex;

        div.general-details {
            display: flex;
            justify-content: center;
            width: 60%;
            margin: 0 0 0 0.5rem;
            padding: 0;

            ul.details-list {
                padding: 0;
                margin: 0 0 0 1rem;
                display: flex;
                flex-direction: column;
                height: fit-content;

                li {
                    @include colored-list-items($mainOrange);

                    margin: 0.5rem 0;
                    text-align: left;
                }

                ul.sub-list {
                    margin-left: 1.3rem;

                    li {
                        @include colored-list-items(#cc6600);

                        margin: 0.5rem 0;
                        text-align: left;
                    }
                }

                @include sm {
                    margin: auto;
                }
            }
        }

        div.technical-info {
            width: 40%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            margin-right: 0.5rem;

            a.git-container {
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid $light;
                border-radius: $borderRadius;
                width: 100%;
                margin-top: 0.6rem;
                transition: background-color $transitionTime;

                &:hover {
                    background-color: $light;

                    * {
                        color: $dark;
                    }
                }

                .icon {
                    transform: scale(0.9);
                    margin-right: 0.6rem;
                }

                p {
                    text-align: center;
                    font-size: $regular;
                }

                @include sm {
                    max-width: 80%;

                    p {
                        font-size: $medium;     
                    }
                }

                @include md {
                    max-width: 60%;

                    .icon {
                        transform: scale(1);
                    }
                }
            }

            div.technologies-list-container {
                @include flex-col;
                justify-content: center;
                align-items: center;

                h3.technologies-title {
                    margin: 1rem 0 0.2rem 0;
                }

                ul.technologies-list {
                    margin: 0;
                    width: fit-content;

                    li {
                        @include colored-list-items(lightblue);
                        margin: 0.5rem 0;
                        text-align: left;
                    }
                }
            }
        }
    }
}
