@import "./variables";


#skills {
    .section-title {
        font-size: $larger;
        margin: 3rem 0 1.5rem 0;
    }

    ul.list {
        padding: 0;

        li {
            #two-column {
                grid-template-columns: repeat(2, 1fr);
            }

            .sub-title {
                font-size: $large;
                margin: 0.6rem 0;
                text-align: left;
            }

            ul.sub-list {
                display: grid;
                padding: 0;
                margin-bottom: 2rem;

                li {
                    text-align: left;
                    margin: 0.4rem 0;
                    font-size: 1.05rem;

                    &:before {
                        color: orange;
                        font-weight: 900;
                        display: inline-block;
                        width: 1rem;
                        content: "\2022";
                    }
                }
            }
        }
    }
}
