@import "./variables";


#skills {
    h4.section-title#skills-title {
        margin: 1rem 0;

        @include md {
            font-size: $largest;
        }
    }

    ul.list {

        @include sm {
            display: grid;
            grid-template-areas:
            "webdev webdev webdev webdev"
            "linux linux other other";
        }

        @include md {
            display: grid;
            grid-template-areas:
            "webdev linux other";
        }

        padding: 0;

        #webdev {
            grid-area: webdev;
        }

        #linux {
            grid-area: linux;
        }

        #other {
            grid-area: other;
        }

        li {
            @include lg {
                h6.sub-title {
                    text-align: center;
                }

                margin: 0 auto;
            }

            &#webdev {
                ul.sub-list {
                    grid-template-columns: repeat(2, 1fr);

                    @include md {
                        grid-template-columns: repeat(1, 1fr);
                    }

                    @include lg {
                        width: fit-content;
                        grid-column-gap: 4rem;
                        margin: auto;
                    }

                    li {
                        @include colored-list-items(lightblue);
                    }
                }
            }

            &#linux {
                ul.sub-list {
                    li {
                        @include colored-list-items(forestgreen);
                    }
                }
            }

            &#other {
                h6 {
                    text-align: left;
                }

                ul.sub-list {
                    li {
                        @include colored-list-items(darkorange);
                    }
                }
            }


            h6.sub-title {
                margin: 1rem 0;
            }


            .sub-title {
                font-size: $large;
            }

            ul.sub-list {
                display: grid;
                padding: 0;
                margin: 0 0 2rem 1rem;

                li {
                    text-align: left;
                    margin: 0.4rem 0;
                    font-size: $regular;
                }
            }
        }
    }
}
